div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('/assets/img/hero-background-nature.jpg?h=442b995499bb31a41bed8c8083d0a3cd');
}

div.jumbotron.hero-photography {
  background-image: url('/assets/img/hero-background-photography.jpg?h=7ea22f49e096892703f84053f861e397');
}

div.jumbotron.hero-technology {
  background-image: url('/assets/img/hero-background-technology.jpg?h=70759a88426f1ec5406d0c0c1ab018fc');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

